<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
		<h1>Aggiungi pizza</h1>
		<form method="POST">
			<label>nome</label>
			<input type="text" name="nome">
			<br>
			<label>descrizione</label>
			<input type="text" name="descrizione">
			<br>
			<label>foto(url)</label>
			<input type="text" name="foto">
			<br>
			<label>prezzo</label>
			<input type="number" name="price">
			<br>
			<input type="submit" value="CREATE">
		</form>
</body>
</html>